@{ int empid = Convert.ToInt32(ViewBag.empId);
        }

<div class="vd_navbar vd_nav-width vd_navbar-tabs-menu vd_navbar-left  ">
    <div class="navbar-menu clearfix">
        <div class="vd_panel-menu hidden-xs">
            <span data-original-title="Expand All" data-toggle="tooltip" data-placement="bottom" data-action="expand-all" class="menu" data-intro="<strong>Expand Button</strong><br/>To expand all menu on left navigation menu." data-step=4>
                <i class="fa fa-sort-amount-asc"></i>
            </span>
        </div>
        <h3 class="menu-title hide-nav-medium hide-nav-small"> </h3>
        <div class="vd_menu">
            <ul>

                <li class="active">
                    <a asp-action="Index" asp-controller="Home">
                        <span class="menu-icon"><i class="fa fa-home"></i></span>
                        <span class="menu-text">DashBoard</span>

                    </a>
                </li>
                @if (empid == 1173)
                {

                }
                else
                {
                    <li>
                        <a asp-action="Index" asp-controller="CustomerDetail">
                            <span class="menu-icon"><i class="fa fa-globe"></i></span>
                            <span class="menu-text">Lead Allocation</span>

                        </a>
                    </li>
                }
                <li>
                    <a href="javascript:void(0);" data-action="click-trigger">
                        <span class="menu-icon"><i class="fa fa-rocket"></i></span>
                        <span class="menu-text">Sales</span>
                        <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                    </a>
                    <div class="child-menu" data-action="click-target">
                        <ul>
                            @*<li>
                                    <a href="skin-clean-minimalist.html">
                                        <span class="menu-text">Calling Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="skin-nav-medium-profile-dark.html">
                                        <span class="menu-text">My Leads</span>

                                    </a>
                                </li>*@
                            <li>
                                <a asp-action="Index" asp-controller="LeadCloser">
                                    <span class="menu-text">Add LCF</span>

                                </a>
                            </li>
                        </ul>
                    </div>
                </li>


            </ul>
            <!-- Head menu search form ends -->
        </div>
    </div>

</div>