<div class="modal fade" id="myLeadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">
            <div class="modal-header vd_bg-blue vd_white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="myModalLabel">
                <i class="fa fa-plus"></i> 
                <span id="modalTitle"></span></h4>
            </div>
            <div id="divLeadCreate">

            </div>
           

        </div>
    </div>
</div>