@{
    ViewData["Title"] = "Data Table ";
}
<div class="vd_content-wrapper">
    <div class="vd_container">
        <div class="vd_content clearfix">
            <div class="vd_head-section clearfix">
                <div class="vd_panel-header">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a> </li>
                        <li class="active">Leas </li>

                    </ul>
                </div>
            </div>
            <div class="vd_content-section clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel vd_map-widget widget">
                            <div class="panel-heading vd_bg-green">
                                <h3 class="panel-title"> <span class="menu-icon"> <i class="glyphicon glyphicon-user"></i> </span> <span class="menu-text">Call Leads Import</span> </h3>
                                <div class="vd_panel-menu">
                                    <div data-action="minimize" data-original-title="Minimize" data-toggle="tooltip" data-placement="bottom" class=" menu entypo-icon"> <i class="icon-minus3"></i> </div>

                                    <div data-action="close" data-original-title="Close" data-toggle="tooltip" data-placement="bottom" class=" menu entypo-icon"> <i class="icon-cross"></i> </div>
                                </div>
                                <!-- vd_panel-menu -->
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <!-- begin col-6 -->
                                    <div class="col-md-6">
                                        <!-- begin panel -->
                                        <!-- end panel -->
                                        <div class="panel panel-default" style="border-left: 3px solid #00bcd4;">
                                            <div class="panel-heading ui-sortable-handle">
                                                <div class="panel-heading-btn">

                                                </div>
                                                <h4 class="panel-title" style="color:black"> <span class="fa fa-cloud-upload" style="color:orange;padding-right: 4px;font-size: 20px;"></span>Call  Lead Upload Auto </h4>
                                            </div>
                                            <div class="panel-body">
                                                <form asp-action="UploadLeadData" asp-controller="CustomerDetail" enctype="multipart/form-data">
                                                    <div class="row">
                                                        <div class="col-md-12 controls">
                                                            <label>Date :</label><em class="text-danger">*</em>
                                                            <input type="date" id="AssignDate" required="" name="AssignDate" class="input-sm">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 controls">
                                                            <label>Browse   File :</label><em class="text-danger">*</em>
                                                            <input type="file" id="CustomerData" required="" name="CustomerData" class="input-sm" onchange="checkemployeefile(this);">
                                                        </div>
                                                    </div>
                                                    <div class="row text-right">
                                                        <div class="col-md-12 ">
                                                            <a href="~/Documents/Leadallocationauto.xlsx" download="" class="btn vd_btn vd_btn-bevel vd_bg-green font-semibold pull-left" style="margin-top:-5px"><i class="fa fa-file-excel-o"></i> Download Templete </a>
                                                            <button type="submit" class="btn vd_btn vd_btn-bevel vd_bg-green font-semibold"> <i class="fa fa-upload"></i>  Upload </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ui-sortable">
                                        <!-- begin panel -->
                                        <!-- end panel -->
                                        <div class="panel panel-default" style="border-left: 3px solid #00bcd4;">
                                            <div class="panel-heading ui-sortable-handle">

                                                <h4 class="panel-title" style="color:black">
                                                    <span class="fa fa-cloud-upload" style="color:orange;padding-right: 4px;font-size: 20px;"></span> Call Lead Upload Manual

                                                </h4>

                                            </div>
                                            <div class="panel-body">
                                                <form asp-action="UploadLeadData" asp-controller="CustomerDetail" enctype="multipart/form-data">
                                                    <div class="row">
                                                        <div class="col-md-12 controls">
                                                            <label>Date :</label><em class="text-danger">*</em>
                                                            <input type="date" id="AssignDate" required="" name="AssignDate" class="input-sm">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 controls">
                                                            <label>Browse   File :</label><em class="text-danger">*</em>
                                                            <input type="file" id="CustomerData" required="" name="CustomerData" class="input-sm" onchange="checkemployeefile(this);">
                                                        </div>
                                                    </div>
                                                    <div class="row text-right">
                                                        <div class="col-md-12 ">
                                                            <a href="~/Documents/Leadallocationmanual.xlsx" download="" class="btn vd_btn vd_btn-bevel vd_bg-green font-semibold pull-left" style="margin-top:-5px"><i class="fa fa-file-excel-o"></i> Download Templete </a>
                                                            <button type="submit" class="btn vd_btn vd_btn-bevel vd_bg-green font-semibold"> <i class="fa fa-upload"></i>  Upload </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Panel Widget -->
                    </div>

                </div>
                 

            </div>
            <!-- .vd_content-section -->

        </div>
        <!-- .vd_content -->
    </div>
    <!-- .vd_container -->
</div>